@font-face {
    font-family: Fira Code;
    src: url(https://my.kblue.site/s/dasvrb);
}
@font-face {
    font-family: monospace;
    src: url(https://my.kblue.site/s/giwgm1);
}
html,body {
    margin: 0;
    padding: 0;
}
body {
    background: #f2f2f2;
}
body::-webkit-scrollbar { 
    width: 0 !important; 
    display: none;
}